@(tasks: List[T_vessel_schedule_history], taskForm: Form[T_vessel_schedule_history])

@import helper._

@main("Berth Info List") {
    
    <h2>Search each Terminal</h2>
    
    @form(routes.Application.berthinfoTerminal()) {
        
        @inputText(taskForm("Terminal"))        
        
        <label>
		    <select>
		    <%
		    	List<String> lstId = new List<String>();
		    %>
		    @for(terminal <- tasks) {
		    	<%
		    		String sId = %> @terminal.terminal_id <%;
		    		System.out.println("++++++++++++++++++" + sId + "+++++++++++++++++++++++");
		    		if(!lstId.contains(sId))
		    		{
		    			lstId.add(sId);
		    	%>
		        		<option>@terminal.terminal_id</option>
		        <%
		        	}
		        %>
		        }
		    </select>
		</label>
        <input type="submit" value="Search">
    }
    
    <table id="hor-minimalist-b">
	    <thead>
	    	<tr>
	    		<th scope="col">VVD Status</th>
	    		<th scope="col">Input Date</th>
	    		<th scope="col">Input Time</th>
	    		<th scope="col">Berth No</th>
	    		<th scope="col">Terminal</th>
	    		<th scope="col">OPR</th>
	    		<th scope="col">VVD</th>
	    		<th scope="col">In VVD OPR</th>
	    		<th scope="col">Out VVD OPR</th>
	    		<th scope="col">Vsl Name</th>
	    		<th scope="col">Route</th>
	    		<th scope="col">CCT</th>
	    		<th scope="col">ETB</th>
	    		<th scope="col">ETD</th>
	    		<th scope="col">ATB</th>
	    		<th scope="col">ATD</th>
	    		<th scope="col">Load Cnt</th>
	    		<th scope="col">Dis Cnt</th>
	    		<th scope="col">Shift Cnt</th>
	    	</tr>
	   	</thead>
	   	<tbody>
        @for(T_vessel_schedule_history <- tasks) {
            <tr>
            	<td>@T_vessel_schedule_history.vvd_status</td>
            	<td>@T_vessel_schedule_history.ins_dt</td>
                <td>@T_vessel_schedule_history.ins_tm</td>
                <td>@T_vessel_schedule_history.berth_no</td>
                <td>@T_vessel_schedule_history.terminal_id</td>
                <td>@T_vessel_schedule_history.opr</td>
                <td>@T_vessel_schedule_history.vvd</td>
                <td>@T_vessel_schedule_history.in_vvd_opr</td>
                <td>@T_vessel_schedule_history.out_vvd_opr</td>
                <td>@T_vessel_schedule_history.vsl_name</td>
                <td>@T_vessel_schedule_history.route</td>
                <td>@T_vessel_schedule_history.cct</td>
                <td>@T_vessel_schedule_history.etb</td>
                <td>@T_vessel_schedule_history.etd</td>
                <td>@T_vessel_schedule_history.atb</td>
                <td>@T_vessel_schedule_history.atd</td>
                <td>@T_vessel_schedule_history.load_cnt</td>
                <td>@T_vessel_schedule_history.dis_cnt</td>
                <td>@T_vessel_schedule_history.shift_cnt</td>
            </tr>
        }
        </tbody>
    </table>
}