@(tasks: List[T_vessel_schedule], taskForm: Form[T_vessel_schedule])

@import helper._

@main("Berth Info List") {
    
    <h2>Search each Terminal</h2>
    
    <br>
    <h4>Search to List</h4>
    @form(routes.Application.berthinfoTerminal()) {
    	<table class="inputArea">
    		<tr>
    			<td>@helper.inputText(taskForm("terminal_id"), 'id -> "terminal_id", 'size -> 7)</td>
    			<td>@helper.inputText(taskForm("opr"), 'id -> "opr", 'size -> 5)</td>
    			<td>@helper.inputText(taskForm("vvd"), 'id -> "vvd", 'size -> 7)</td>
    			<td>@helper.inputText(taskForm("in_vvd_opr"), 'id -> "in_vvd_opr", 'size -> 10)</td>
    			<td>@helper.inputText(taskForm("out_vvd_opr"), 'id -> "out_vvd_opr", 'size -> 10)</td>
    			<td>@helper.inputText(taskForm("vsl_name"), 'id -> "vsl_name", 'size -> 20)</td>
    			<td>@helper.inputText(taskForm("route"), 'id -> "route", 'size -> 5)</td>
    			<td>@helper.inputText(taskForm("vvd_status"), 'id -> "vvd_status", 'size -> 7)</td>
    			<td>@helper.inputText(taskForm("cct"), 'id -> "cct", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("etb"), 'id -> "etb", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("etd"), 'id -> "etd", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("atb"), 'id -> "atb", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("atd"), 'id -> "atd", 'size -> 15)</td>
    			<td><input type="submit" value="SearchToList" style="width:=250px;height:100%"></td>
    		</tr>
        </table>
    }
    
    <br>
    <h4>Search to Json</h4>
    @form(routes.Application.berthinfoTerminalJson()) {
    	<table class="inputArea">
    		<tr>
    			<td>@helper.inputText(taskForm("terminal_id"), 'id -> "terminal_id", 'size -> 7)</td>
    			<td>@helper.inputText(taskForm("opr"), 'id -> "opr", 'size -> 5)</td>
    			<td>@helper.inputText(taskForm("vvd"), 'id -> "vvd", 'size -> 7)</td>
    			<td>@helper.inputText(taskForm("in_vvd_opr"), 'id -> "in_vvd_opr", 'size -> 10)</td>
    			<td>@helper.inputText(taskForm("out_vvd_opr"), 'id -> "out_vvd_opr", 'size -> 10)</td>
    			<td>@helper.inputText(taskForm("vsl_name"), 'id -> "vsl_name", 'size -> 20)</td>
    			<td>@helper.inputText(taskForm("route"), 'id -> "route", 'size -> 5)</td>
    			<td>@helper.inputText(taskForm("vvd_status"), 'id -> "vvd_status", 'size -> 7)</td>
    			<td>@helper.inputText(taskForm("cct"), 'id -> "cct", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("etb"), 'id -> "etb", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("etd"), 'id -> "etd", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("atb"), 'id -> "atb", 'size -> 15)</td>
    			<td>@helper.inputText(taskForm("atd"), 'id -> "atd", 'size -> 15)</td>
    			<td><input type="submit" value="SearchToJson" style="width:=250px;height:100%"></td>
    		</tr>
        </table>
    }
    
    <br>
    <h1>@tasks.size() task(s)</h1>
    <table id="hor-minimalist-b">
	    <thead>
	    	<tr>
	    		<th scope="col">VVD Status</th>
	    		<th scope="col">Berth No</th>
	    		<th scope="col">Terminal</th>
	    		<th scope="col">OPR</th>
	    		<th scope="col">VVD</th>
	    		<th scope="col">In VVD OPR</th>
	    		<th scope="col">Out VVD OPR</th>
	    		<th scope="col">Vsl Name</th>
	    		<th scope="col">Route</th>
	    		<th scope="col">CCT</th>
	    		<th scope="col">ETB</th>
	    		<th scope="col">ETD</th>
	    		<th scope="col">ATB</th>
	    		<th scope="col">ATD</th>
	    		<th scope="col">Load Cnt</th>
	    		<th scope="col">Dis Cnt</th>
	    		<th scope="col">Shift Cnt</th>
	    	</tr>
	   	</thead>
	   	<tbody>
        @for(T_vessel_schedule <- tasks) {
            <tr>
            	<td>@T_vessel_schedule.vvd_status</td>
                <td>@T_vessel_schedule.berth_no</td>
                <td>@T_vessel_schedule.terminal_id</td>
                <td>@T_vessel_schedule.opr</td>
                <td>@T_vessel_schedule.vvd</td>
                <td>@T_vessel_schedule.in_vvd_opr</td>
                <td>@T_vessel_schedule.out_vvd_opr</td>
                <td>@T_vessel_schedule.vsl_name</td>
                <td>@T_vessel_schedule.route</td>
                <td>@T_vessel_schedule.cct</td>
                <td>@T_vessel_schedule.etb</td>
                <td>@T_vessel_schedule.etd</td>
                <td>@T_vessel_schedule.atb</td>
                <td>@T_vessel_schedule.atd</td>
                <td>@T_vessel_schedule.load_cnt</td>
                <td>@T_vessel_schedule.dis_cnt</td>
                <td>@T_vessel_schedule.shift_cnt</td>
            </tr>
        }
        </tbody>
    </table>
}